// ----------------------
// == Site settings
// ----------------------

// Fonts
$ft-device: 14px;
$ft-base: 16px !default; // default desktop base font
$ft-headline: "Roboto", sans-serif;
$ft-primary: "Open Sans",sans-serif;

//Modular scale for Font -- https://github.com/modularscale/modularscale-sass
$my-ratio: 1em;
$ms-ratio: $major-third;

// Set Grid
$columns: 12;
$column-width: 95px;
$gutter: 20px;
$padding: $gutter / 2;
$max-width: 1140px;


